/* overrides file that contains*/

/* custom font */
.font-palanquin {
    font-family: "Palanquin Dark", sans-serif;
}

/* font size */
.fs-custom-header {
    font-size: 48px;
}

.fs-custom-header-2 {
    font-size: 36px;
}

.fs-customer-header-3 {
    font-size: 24px;
}

.fs-custom-text {
    font-size: 18px;
}
/* colors */

/* background color */
.bg-aliceblue {
    background-color: aliceblue;
}

/* purple background color */
.bg-custom-purple {
    background-color: #6064BD;
}

/* gradient bg */
.bg-custom-gradient {
    width: 100%;
    height: 26rem;
    padding: 0;
    background: linear-gradient(180deg, #F0F8FF 0%, #6064BD 100%);
}

/* text color */
a:hover {
    color: #45ABF2;
}

.text-coolblue {
    color: #45ABF2;
}

.text-purple {
    color: #6064BD;
}

.text-aliceblue {
    color: aliceblue;
}

/* custom card */
.custom-card {
    height: auto;
    background-color: aliceblue;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 4px 4px rgba(0, 0 ,0, 0.25);
    border-radius: 20px;
}