/* overrides file that contains*/

/* custom font */
.font-palanquin {
    font-family: "Palanquin Dark", sans-serif;
}

/* font size */
.fs-custom-header {
    font-size: 48px;
}

.fs-custom-header-2 {
    font-size: 36px;
}

.fs-custom-text {
    font-size: 18px;
}
/* colors */

/* background color */
.bg-aliceblue {
    background-color: aliceblue;
}

/* text color */
a:hover {
    color: #45ABF2;
}

.text-coolblue {
    color: #45ABF2;
}

.text-purple {
    color: #6064BD;
}